.img-item:hover{
    transform: scale(1.5);
    border: 1px solid rgb(150, 89, 67);
    box-shadow: 2px 2px #d6b21f;
}
.img-small:hover{
    transform: scale(5);
    border: 0.3px solid rgb(150, 89, 67);
    box-shadow: 0.3px 0.3px #d6b21f;
}
.name-item{
    margin-left: 20px;
}
.share img{
    width: 100px;   
}
.share{
    margin-top: 16px;
}
.name-item h1{
    margin-bottom: 10px;
}
.name-item p{
    margin-bottom: 10px;
}
.container-active {
    margin-top: 4px;
  }
.active-list {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
h1:hover{
    border-radius: 5px;
    background-color: #9dc7cf;
}
.active-img {
    width: 330px;
    height: 330px;
}
.img-item {
    width: 100%;
    height: 100%;
}
.name {
    margin-left: 16px;
    font-size: 1.8rem;
}
.fb-comments,
.item,
.list,.colo {
    font-size: 1.2rem;
    color: #1a9cb7;  
    width: 100%;
}
.soluong{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(170, 166, 141);
    text-align: center;
}
.mauu{
    background-color: rgb(45, 131, 211);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    border: 1px;
}
.mauu:hover{
    background-color: #f57224;
}
.size{
    background-color: rgb(45, 131, 211);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    border: 1px;
}
.size:hover{
    background-color: #f57224;
}
.price {
    color: #f57224;
    font-size: 1.4rem;
}
.img-list {
    display: flex;
    margin: 0 8px;
}
.img-small {
    width: 50px;
    height: 50px;
    margin: 0 8px;
}
.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-item {
    padding: 12px 24px;
    margin: 8px 16px;
    background-color: #eba80e;
    color: #ffffff;
    border: none;
    border-radius: 10px;

}
.btn-item:hover{
    background-color: #f57224;
}
.sale {
    color: #ffffff;
    background-color: #d1af9b;
    font-size: 1.4rem;
}
  